{% extends 'ecomapp/base.html' %}

{% block content %}

  <h1 class="text-center">Checkout</h1>
  <h3 class="text-center">Choose a payment method</h3>
    {% if payment_methods %}
    <p>Saved payment methods:</p>
    <ul>
    {% for method in payment_methods %}
      <br>
    <li>{{ method.name }} - {{ method.card_number }} <button name="payment_method" value="{{ method.id }}"> Checkout with this method </button></li>
    {% endfor %}
    </ul>
    <br>
    {% endif %}

  <hr>

  <h1 class="text-center">Or Add Payment Method</h1>
  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <label>Do you want to save this card in your payment methods?</label>
    <br>
    <label for="yes">Yes</label>
    <input type="radio" id="yes" name="consent" value="yes">
    <label for="no">No</label>
    <input type="radio" id="no" name="consent" value="no">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Add Payment Method</button>
  </form>
  <br>
  <br>
  <br>

{% endblock %}