{% extends 'ecomapp/base.html' %}

{% block content %}
  <h1>Order History</h1>
  <form class="mb-3" action="{% url 'order_history' %}" method="get">
    <div class="input-group">
      <input type="text" class="form-control" name="search" placeholder="Search orders by product name">
      {% if search_query %}
        <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='{% url 'order_history' %}'">Clear</button>
      {% endif %}
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </div>
  </form>
  <ul class="list-group">
    {% for order in orders %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-8">
            <h3>Order {{ order.id }}</h3>
            <ul class="list-group">
              {% for product in order.products.all %}
                <li class="list-group-item">{{ product.name }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-sm-4">
            <p>Status: {{ order.status }}</p>
            <p>Shipping Address: {{ order.shipping_address }}</p>
            <p>Shipping City: {{ order.shipping_city }}</p>
            <p>Phone: {{ order.phone }}</p>
            <p>Payment Method: {{ order.payment_method }}</p>
            <p class="text-end fw-bold">Total Price: ${{ order.total_price }}</p>
          </div>
        </div>
      </li>
    {% empty %}
      <li class="list-group-item">No orders found</li>
    {% endfor %}
  </ul>
{% endblock %}
