{% extends 'ecomapp/base.html' %}

{% block content %}

  <div class="container-fluid">
    <h1 class="text-center">{{ product.name }}</h1>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Price:</strong> {{ product.price }}</p>
        <p><strong>Description:</strong> {{ product.description }}</p>
        <p><strong>Brand:</strong> {{ product.brand }}</p>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>Seller:</strong> <a href="{% url 'seller_details' product.seller.id %}"> {{ product.seller }} </a></p>
        <p><strong>Quantity:</strong> {{ product.quantity }}</p>
        <p><strong>Rate of the product:</strong> {{ product.avg_rate }}</p>
        <div class="btn-group mt-4">
          {% if product.quantity > 0 %}
          <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
          <a href="{% url 'buy_product' product.id %}" class="btn btn-success">Buy</a>
          {% else %}
          <p class="card-text" style="margin-left: 10px">Out of Stock</p>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
      </div>
    </div>
    <hr>
    <h3>Product Images:</h3>
            <div class="row">
              {% for image in product.more_images.all %}
                <div class="col-md-4">
                  <img src="{{ image.file.url }}" alt="{{ product.name }}" class="img-fluid">
                </div>
              {% endfor %}
            </div>
     <hr>
    {% if product.video %}
    <h2> Video of the product </h2>
    <br>
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <video width="400" controls>
          <source src="{{ product.video.url }}" type="video/mp4">
        </video>
      </div>
    </div>
    {% endif %}
    <div class="mt-4 mb-4">
      {% if is_ordered %}
      {% if my_review %}
       <hr>
      <h3> Your review: </h3>
      <br>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ my_review.customer.first_name }}</h5>
          <p class="card-text">{{ my_review.text }}</p>
          <p class="card-text"><small class="text-muted">Rating: {{ my_review.rating }}/5</small></p>
          <p class="card-text"><small class="text-muted">Added on {{ my_review.date_added }}</small></p>
          <a href="{% url 'write_review' product_id=product.id %}" class="btn btn-primary">Edit Review</a>
        </div>
      </div>
      {% else %}
      <a href="{% url 'write_review' product_id=product.id %}" class="btn btn-primary">Write a Review</a>
      {% endif %}
      {% endif %}
    </div>
    <h3> Check other reviews </h3>
    <br>
    {% for review in reviews %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ review.customer.first_name }}</h5>
        <p class="card-text">{{ review.text }}</p>
        <p class="card-text"><small class="text-muted">Rating: {{ review.rating }}/5</small></p>
        <p class="card-text"><small class="text-muted">Added on {{ review.date_added }}</small></p>
      </div>
      {% if review.reply %}
      <div class="card-body">
        <h5 class="card-title">Answer from: {{ review.reply.seller }}</h5>
        <p class="card-text">{{ review.reply.message }}</p>
        <p class="card-text"><small class="text-muted">Added on {{ review.reply.timestamp }}</small></p>
      </div>
      {% endif %}
    </div>

    {% endfor %}
  </div>
{% endblock %}


