{% extends 'ecomapp/base.html' %}

{% block content %}
    <h1 class="mb-4">Withdraw Money</h1>
    <p>Your Current Balance: ${{ balance }}</p>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="card">Select Method:</label>
            <select class="form-control" id="card" name="card">
                {% for payment_method in payment_methods %}
                <option>{{ payment_method }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" step="0.01" min="0.01" class="form-control" id="amount" name="amount" required>
        </div>
        <button type="submit" class="btn btn-primary">Withdraw</button>
    </form>
    <br>
    {% if success_message %}
    <div class="alert alert-success" role="alert">
        {{ success_message }}
    </div>
    {% endif %}
{% endblock %}
